*{margin:0; padding:0;box-sizing:border-box}
body{
    font-family:"Open Sans", sans-serif;
    font-size:1.1em;
}
main{
    width:100%;
    margin:0 auto;
    text-align:center;
    margin-top:2em;
    max-width:960px;
}
h1{
    margin:.5em;
    font-weight:300;
}
input{
    width:80%;
    border:1px solid #00FFFF;
    padding:1em;
    outline:none;
}
button[type="submit"]{
    background-color:#FF3333;
    color:white;
    border:1px solid #00FFFF;
    border-top-right-radius: 30%;
    border-bottom-right-radius:30%;
    border-left-width: 0;
    padding:1em;
}
#toDoList{
    width:90%;
    margin:1em auto 0 auto;
    text-align:left;
}
.item{
    position:relative;
    font-size:1.1em;
    padding:.8em .5em;
}
.item span{
    display: inline-block;
    width:90%;
}
.item i{
    position:absolute;
    color:#FF3333;
    right:.5em;
    top:50%;
    transform:translateY(-50%);
    display:none;
    padding:1em;
}
.item:hover{
    cursor:pointer;
}
.item:hover i{
    display:inline-block;
    cursor:pointer;
}
@media (min-width: 960px){
    h1{
        font-size:2.5rem;
    }
    input, button{
        font-size: 1.2em;
    }
}